<h1></h1>

<div class = "columns">
<div class = "column">
<h2 class = "column" > Jake Website</h2>

<ol class="ml-5">
<% @pages.each do |page|%>
<li>
<%= page.title %>
<em><%= page.content %></em>
</li>
<%end%>
</ol>

</div>
</div>
<%= render partial: 'common/footer'%>