
<%= render partial: 'common/header'%>
<h1>Loaction</h1>

<div class = "columns">
<div class = "column">



<p>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=7&size=1000x1000&center=#{@loaction.lat},#{@loaction.long}&markers=size:small%7Ccolor:red%7C#{@loaction.lat},#{@loaction.long}&key=#{'AIzaSyCRYFKAAL1L7FHCEm3gz4d-F3dI_ywkMMY'}", alt: "Map" %>
</p>

</div>
</div>
<%= render partial: 'common/footer'%>
