
<header>

<h2 class = "column" > Jake Website</h2>
<ol class="mt-5">
  <th><%= link_to "Home", root_path%></th>
  <th>Cars</th>
  <th>Car Models</th>
  <th>Car Sellers</th>
  <th>Car locations</th>
  <% cms_pages.each do |page| %>
  <th><%= link_to page.title, '/home/About' %></th>
  <% end %>
<hr>
</ol>
</header>